body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 50px;
    text-align: center;
}

h1#activity {
    font-size: 36px; /* Larger font size */
    margin: 0;
}

p#type {
    font-size: 24px; /* Larger font size */
    color: #555;
    margin-top: 5px;
}

h3 {
    margin-top: 10px;
    font-size: 20px; /* Larger font size */
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px; /* Larger font size */
}
